# Terraform
.terraform/

# Local .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log

# Exclude all .tfvars files, which are used to override variable values
*.tfvars

# Exclude override files as they are usually used to override resources locally and do not need to be versioned
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Exclude CLI configuration files
.terraformrc
terraform.rc

# Exclude the .tfplan files that are created when running terraform plan
*.tfplan

# Exclude .terraform.lock.hcl files, which are used by Terraform to record the provider versions selected for your configuration
.terraform.lock.hcl

# Exclude the .terraform/plugins directory, which contains installed provider plugins
.terraform/plugins/

# Exclude Mac-specific files
.DS_Store

# Exclude VSCode settings
.vscode/

# Exclude Terraform variables file
terraform.tfvars

# Exclude any temporary files
*.swp
*.bak
*.tmp

# Exclude sensitive information
*.tfvars
*.tfstate
*.tfstate.*

# Exclude any sensitive files
*.pem
*.key
*.pub
*.csr

# Exclude any log files
*.log